#alumni{
    padding:0;
    padding-bottom: 10px;
    margin-top: 70px;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    margin-top: -1px;
    padding-left: 10px;
    padding-right: 10px;
}
.vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    text-align: center;
    border: 1px solid #313131;
    border-left: none;
    line-height: 22px;
    font-size: 15px;
}

table {
    width:min-content;
    border-collapse: collapse;
}

td {
    border: 1px solid #313131;
    text-align: center;
    padding: 5px;
    min-width: 130px;
}

table tr td img {
    height: 130px;
    border-radius: 2px;
}

td img:hover{
    filter: brightness(0.7);
}