section {
    padding: 0px;
}
#readme-content{
    max-width: calc(100% - 20px);
    background-color: black;
    overflow-x: auto;
    text-overflow:clip;
    overflow-wrap: break-word;
    padding: 10px;
}
.info{
    padding: 10px;
}
#last-updated{
    font-size: 14px;
}
img{
    max-width: calc(100vw - 20px);
    height: auto;
}
#documentation details{
    margin-top: 20px;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
}
#documentation summary{
    border-radius: 10px;
}
#documentation summary:hover{
    background-color: rgb(16, 16, 16);
}

hr{
    margin: 10px 0px;
    border: 0;
    border-top: 1px solid rgb(50, 50, 50);
}
code{
    overflow-wrap: break-word; /* Ensures long words wrap */
    white-space: normal;       /* Allows wrapping instead of one long line */
    overflow-x: hidden;        /* Prevents horizontal scroll */
    text-overflow: clip;
}