.gallery {
    column-count: 4;
    column-gap: 10px;
    margin-top: 5px;
    padding: 10px;
}

/* Fake sprocket holes 
.gallery::before,
.gallery::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background-image: repeating-linear-gradient(
    to bottom,
    white 0,
    white 6px,
    transparent 6px,
    transparent 20px
  );
  z-index: 1;
}

.gallery::before {
  left: 10px;
}
.gallery::after {
  right: 10px;
}
*/
.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: none;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.filters {
    width: calc(100vw - 75px);
    padding-right: 5px;
    padding-left: 70px;
    display: flex;
    border-bottom: 1px solid rgb(60, 60, 60);
    padding-bottom: 4px;
    margin-bottom: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    z-index: 110;
}
.filters button {
    margin: 0 2px;
    padding: 7px 10px 3px 10px;
}

.filters p {
    left: 0;
    position: absolute;
    margin-right: 5px;
    font-size: 14px;
    background-image: linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgb(0, 0, 0) 85%,
            transparent 100%);
    padding-top: 5px;
    line-height: 27px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    inset: 0; /* shorthand for top, right, bottom, left: 0 */
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
}

.modal-content {
    border-top: 1px solid rgb(80, 80, 80);
    padding: 10px;
    margin: auto;
    width: calc(100vw - 20px);
    max-height: none;
    display: flex;
    flex-direction: column;
}

#modal-image {
    display: block;
    border-radius: 7px;
    width: 100%;
    height: auto;
}

#modal-caption{
    margin-top: 10px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(197, 197, 197);
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 21px;
    width: 25px;
    padding-left: 3px;
    border-radius: 5px;
    padding-top: 7px;
}

@media (min-width: 570px) {
    .modal-content{
        flex-direction: row;
    }
    #modal-image {
        width: auto;
        max-width: 75%;
        max-height: calc(100vh - 80px);
        margin-right: 20px;
    }
}

@media (min-width: 1200px) {
    .gallery {
        column-count: 5;
    }
}

@media (max-width: 900px) {
    .gallery {
        column-count: 4;
        column-gap: 14px;
    }
}

@media (max-width: 768px) {
    .gallery {
        column-count: 3;
        column-gap: 10px;
    }
}

@media (max-width: 480px) {
    .gallery {
        column-count: 2;
    }
}