* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.466);
}

::-webkit-scrollbar-button {
    display: none;
}


button,
a,
details {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
}

body {
    background-color: rgb(14, 14, 14);
    color: rgb(227, 227, 227);
    overflow-x: hidden;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}

section {
    margin-top: 60px;
    padding: 10px;
}

section.active {
    filter: blur(5px) brightness(0.2);
    transition: filter 0.3s ease;
}

header img {
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: calc(100% - 10px);
    border-bottom: 1px solid rgb(60, 60, 60);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
}

.burger {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    margin: 10px;
    box-sizing: border-box;
}

.burger span {
    width: 50%;
    height: 0.1px;
    background-color: rgb(166, 166, 166);
}

#burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 200;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 61px;
    right: -301px;
    width: 300px;
    height: calc(100% - 61px);
    border-left: 1px solid rgb(60, 60, 60);
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    z-index: 210;
    transition-duration: 0.3s;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

nav.active {
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 1px solid rgb(34, 34, 34);
}

nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgb(34, 34, 34);
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: rgb(34, 34, 34);
}

nav a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(166, 166, 166);
    display: block;
}
details{
    border-bottom: 1px solid rgb(34, 34, 34);
}
summary {
    padding: 10px 0;
    padding-left: 10px;
    color: rgb(166, 166, 166)
}

summary:hover {
    background-color: rgb(34, 34, 34);
}

summary {
    cursor: pointer;
    position: relative;
    height: 20px;
    line-height: 20px;
    list-style: none;
    appearance: none;
    min-height: max-content;
    z-index: 1;
}

summary::marker {
    content: "";
    /* Hides default marker */
}

summary::before {
    content: "‣";
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(227, 227, 227);
    font-size: 22px;
    line-height: 1;
    transform: rotate(90deg);
}

details[open] summary::before {
    transform: rotate(270deg);
}

details ul li {
    padding-left: 5px;
    margin-left: 15px;
    border-bottom: none;
    color: rgb(227, 227, 227);
    border-left: 1px solid rgb(34, 34, 34);
}

.nav-bottom {
    padding: 5px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 12px;
    width: calc(100% - 10px);
    text-align: center;
}