html {
    scroll-behavior: smooth;
}

#home {
    padding: 0px;
    margin-top: 0;
}

header {
    transition: background-color 0.3s ease;
}

header.top {
    background-color: transparent;
    border-bottom: none;
}

.top div.burger {
    border: 1px solid rgba(255, 255, 255, 0.589);
    background-color: rgba(56, 56, 56, 0.171);
}

.top div.burger span {
    background-color: white;
}

#visitors {
    display: none;
}

#landingWindow {
    background: linear-gradient(to bottom, rgb(212, 134, 0), rgb(80, 0, 0), black, black);
    height: 100vh;
    transition: filter 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
}

#infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    width: 100%;
    gap: 10px;
}

#malang {
    padding: 5px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.647);
    backdrop-filter: blur(5px);
}

#tagline {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

#kalakaar {
    background: linear-gradient(to top, rgb(255, 162, 0), rgb(255, 47, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landingButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
}

#landingButtons button {
    padding: 7px 30px;
    background-color: rgba(15, 15, 15, 0.647);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#landingButtons button:hover {
    background-color: rgba(23, 23, 23, 0.847);
}

#scroll-down {
    color: grey;
    font-size: 0.8rem;
    animation: wave 2s infinite;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/*waving animation on scroll down*/
@keyframes wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.sponsors {
    margin-top: 50px;
}

.sponsor-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.sponsor-track {
    display: flex;
    width: max-content;
    animation: sponsor-scroll-left 30s linear infinite;
    transition: animation-duration 0.5s ease;
}

.sponsor-slide {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(50, 50, 50);
    border-left: none;
}

.sponsor-slide img {
    max-width: 100px;
    max-height: 80px;
    object-fit: contain;
    transition: filter 0.3s ease;
    filter: saturate(0) brightness(0) invert(1);
}

.sponsor-slide img:hover {
    filter: none;
}

.light .sponsor-slide img:hover {
    filter: saturate(1) brightness(1) invert(1) drop-shadow(0px 0px 3px #ffffff);
}

#reverse {
    margin-top: -1px;
    animation-direction: reverse;
}

#third {
    margin-top: -1px;
    animation-duration: 20s;
}

#malang-sponsor {
    position: absolute;
    margin-top: -1px;
    background-color: rgba(15, 15, 15, 0.647);
    margin-left: 50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(50, 50, 50);
    backdrop-filter: blur(5px);
    z-index: 10;
}

#malang-sponsor img {
    max-width: 140px;
}



#contact {
    text-align: center;
    margin-top: 50px;
}

#contactContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#map {
    width: calc(100vw - 40px);
    height: 350px;
    margin-top: 10px;
    border-radius: 7px;
    border: 1px solid rgb(227, 227, 227);
    filter: grayscale(100%) invert(0.9) contrast(120%);
    transition: filter 0.3s ease;
}

#map:hover {
    filter: grayscale(0%) invert(0) contrast(100%);
}

#contactForm {
    width: calc(100vw - 80px);
    margin-top: 10px;
}

/* Animations */
@keyframes sponsor-scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .sponsor-slide {
        width: 200px;
        height: 150px;
    }

    .sponsor-slide img {
        max-width: 120px;
        max-height: 120px;
    }

    #malang-sponsor img {
        max-width: 170px;
    }
}