html {
    scroll-behavior: smooth;
}

#home {
    padding: 0;
    margin-top: 0;
}

.loading span {
    display: none;
}

.loading {
    filter: brightness(0) invert(0.4);
    background-image: url(/resrc/images/icons/loading.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#visitors {
    display: none;
}

#landingWindow {
    margin-top: 350px;
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: calc(100vh - 350px);
    overflow: hidden;
    border-top: 1px solid rgb(50, 50, 50);
}
.pageContents {
    z-index: 1;
    background-color: black;
    text-align: center;
} 

#landingCanvas {
    position: fixed;
    top: 0px;
    background:
        linear-gradient(20deg, black 60%, teal 100%),
        linear-gradient(-20deg, black 60%, rgb(216, 173, 0) 100%);
    background-blend-mode: screen;
    width: 100%;
    height: min-content;
    padding: 80px 0 40px 0;
    text-align: center;
    overflow: hidden;
    z-index: -1;
}

.star {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    animation: moveit;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes moveit {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }
}

#landingCanvas img {
    filter: drop-shadow(0 0 15px rgb(142, 142, 142));
    width: calc(100% - 80px);
    max-width: 230px !important;
    transform: translateX(-7%);
    scale: 0.5;
    animation: spinY 0.5s ease-in-out forwards;
    transform-style: preserve-3d;
}

@keyframes spinY {
    from {
        transform: rotateY(0deg) translateX(-7%);
        margin-bottom: -150%;
    }

    to {
        scale: 1;
        transform: rotateY(360deg) translateX(-7%);
        margin-bottom: 0%;
    }
}
#infoContainer {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 390px);
}

#malangTitle {
    max-width: 240px;
    padding: 5px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.647);
    backdrop-filter: blur(5px);
}

#tagline {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

#kalakaar {
    background: linear-gradient(to right, rgb(46, 46, 46), white, rgb(90, 90, 90));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landingButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
}

#landingButtons button {
    padding: 7px 30px;
    background-color: rgba(15, 15, 15, 0.647);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#landingButtons button:hover {
    background-color: rgba(23, 23, 23, 0.847);
}

#scroll-down {
    color: grey;
    font-size: 0.8rem;
    animation: bounce 2s infinite;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
.sponsor-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sponsor-track {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    width: max-content;
    animation: scroll-left 25s linear infinite;
}

.sponsor-track img {
    height: 60px;
    object-fit: contain;
    filter: brightness(0) invert(1);
    opacity: 0.8;
    transition-duration: 0.3s;
}

.sponsor-track img:hover {
    opacity: 1;
    filter: none;
}

/* Duplicate content using ::after */
.sponsor-track::after {
    content: attr(data-logos);
    display: flex;
}

/* Infinite scroll animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Fading edges */
.fade-left,
.fade-right {
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.fade-left {
    left: 0;
    background: linear-gradient(to right, black, transparent);
}

.fade-right {
    right: 0;
    background: linear-gradient(to left, black, transparent);
}


#contact {
    text-align: center;
    margin-top: 50px;
}

#contactContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#map {
    width: calc(100vw - 40px);
    height: 350px;
    margin-top: 10px;
    border-radius: 7px;
    border: 1px solid rgb(227, 227, 227);
    filter: grayscale(100%) invert(0.9) contrast(120%);
    transition: filter 0.3s ease;
}

#map:hover {
    filter: grayscale(0%) invert(0) contrast(100%);
}

#contactForm {
    width: calc(100vw - 80px);
    margin-top: 10px;
}

/* Animations */
@keyframes sponsor-scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .sponsor-track {
        gap: 7rem;
        animation-duration: 30s;
    }

    /* Fading edges */
    .fade-left,
    .fade-right {
        width: 100px;
    }

    #contactContainer {
        flex-direction: row;
        padding: 20px 50px;
        gap: 50px;
    }
}