section {
    padding: 0px;
}
.films {
    column-count: 4;
    column-gap: 10px;
    margin-top: 5px;
    padding: 0 5px;
}

.film {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    padding-left: 5px;
    padding-right: 5px;

    border-image: repeating-linear-gradient(to bottom,
            rgb(235, 235, 235) 0,
            rgb(235, 235, 235) 7px,
            /* dash length */
            transparent 7px,
            transparent 20px
            /* gap */
        ) 1;
}

#film1 {
    width: calc(50% - 38px);
    position: absolute;
    z-index: -10;
}

#film2 {
    max-width: calc(50% - 38px);
    position: absolute;
    right: 5px;
}

.photo {
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: none;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.photo img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.filters {
    width: calc(100vw - 75px);
    padding-right: 5px;
    padding-left: 70px;
    display: flex;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding-bottom: 4px;
    margin-bottom: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    z-index: 110;
    background-color: black;
}

.filters button {
    margin: 0 2px;
    padding: 7px 10px 3px 10px;
}

.filters p {
    left: 0;
    position: absolute;
    margin-right: 5px;
    font-size: 14px;
    background-image: linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgb(0, 0, 0) 85%,
            transparent 100%);
    padding-top: 5px;
    line-height: 27px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    inset: 0;
    /* shorthand for top, right, bottom, left: 0 */
    padding-top: 60px;
    background-color: rgba(0, 0, 0, 0.737);
    backdrop-filter: blur(5px);
    overflow-y: auto;
    justify-content: center;
}

.modal-content {
    padding: 10px;
    margin: auto;
    width: calc(100vw - 40px);
    border-radius: 5px;
    max-height: none;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#modal-image {
    display: block;
    border-radius: 2px;
    width: 100%;
    height: auto;
}

#modal-caption {
    margin-top: 10px;
    color: #000;
}

@media (min-width: 570px) {
    .modal-content {
        flex-direction: row;
    }

    #modal-image {
        width: auto;
        max-width: 75%;
        max-height: calc(100vh - 80px);
        margin-right: 20px;
    }
}

@media (min-width: 1200px) {
    .films {
        column-count: 5;
    }
}

@media (max-width: 900px) {
    .films {
        column-count: 4;
        column-gap: 14px;
    }
}

@media (max-width: 768px) {
    .films {
        column-count: 3;
        column-gap: 10px;
    }
}

@media (max-width: 480px) {
    .films {
        column-count: 2;
    }
}